input {
  border: 2px solid #111;
  outline: none;
  height: 40px;
  font-size: 20px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
}

.align-right {
  text-align: right;
}